.cards {
    width:20%;
    float: left;
}

body {
    background-color: #0d0d0d;
    font-family: 'Raleway';
    color: white;
  }
  * {
    font-family: 'Raleway';
    color: white;
  }
  .main-info {
    margin-top: 3%;
    margin-left: 0%;
    display: inline-block;
    float: left;
    width: 30%;
  }
  .main {
    width: 100%;
  }